<!doctype html>
<html>
    <head>
        <title>Borne Okaidi</title>
        <link rel="stylesheet" type="text/css" href="../../css/app.css">
        <link rel="stylesheet" type="text/css" href="../../css/colors.css">
        <link rel="stylesheet" type="text/css" href="menu.css">
    </head>
    <body>
        <div class="app_content">
            
        </div>
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/jquery-ui-draggable/jquery-ui-draggable.js"></script>
        <script src="../../bower_components/underscore/underscore-min.js"></script>
        <script src="../../bower_components/backbone/backbone-min.js"></script>
        <script src="../../bower_components/gsap/src/minified/TweenMax.min.js"></script>
        <script src="../../bower_components/gsap/src/minified/easing/EasePack.min.js"></script>
        <script src="../../bower_components/PreloadJS/lib/preloadjs-0.6.1.combined.js"></script>
        <script src="../../js/utilities.js"></script>
        <script src="menu.js"></script>
        <script>
            var m = new menu();
        </script>
        <script type="text/template" id="brick_template">
            <div class="brick" data-name="<%= name %>" style="background-color:<%= colors[color] %>; width:<%= position.width %>; height:<%= position.height %>;">
                <div class="screen_center" style="background-color:<%= utilities.colorLuminance(colors[color], .1) %>;">
                    <%= color %> ::: <%= colors[color] %>
                </div>
            </div>
        </script>
    </body>
</html>
